{% extends "logged_in_base.html" %}
{% block content %}
<h1>
    Your Portfolio
</h1>

<div class="container mt-5">
    {% if all_articles|length == 0 %}
        <div class="alert alert-info" role="alert">
            <b>No Articles Published.</b>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            <b>Your articles have recieved {{total_reactions}} reactions.</b>
        </div>
        <div class="row">
            {% for article in all_articles %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">
                                <b>{{ article.content | truncate(200,True, '...',0) }}</b>
                                </br>
                                {{ article.category.category}}
                                {% include "reactions.html" %}
                                <div>
                                <a href="{{ url_for('view', id=article.id) }}" class="btn btn-primary btn-block">View</a>
                                <a href="{{ url_for('edit', id=article.id) }}" class="btn btn-warning btn-block">Edit</a>
                                <a href="{{ url_for('delete', id=article.id) }}" class="btn btn-danger btn-block">Delete</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}